@font-face {
  font-family: Roboto Mono;
  font-style: normal;
  font-display: swap;
  src:
  url('/blob/fonts/vf/RobotoMono%5Bwght%5D.woff2') format('woff2'),
  url('/blob/fonts/vf/RobotoMono%5Bwght%5D.woff') format('woff'),
  url('/blob/fonts/vf/RobotoMono%5Bwght%5D.ttf') format('ttf');
}

@font-face {
  font-family: Roboto Serif;
  font-style: normal;
  font-display: swap;
  font-variation-settings: 'opsz' 12;
  font-stretch: condensed;
  src:
  url('/blob/fonts/vf/RobotoSerif%5BGRAD,opsz,wdth,wght%5D.woff2') format('woff2'),
  url('/blob/fonts/vf/RobotoSerif%5BGRAD,opsz,wdth,wght%5D.ttf') format('ttf'),
  url('/blob/fonts/vf/RobotoSerif%5BGRAD,opsz,wdth,wght%5D.woff') format('woff');
}

@font-face {
  font-family: Roboto Serif;
  font-style: italic;
  font-display: swap;
  font-variation-settings: 'opsz' 12;
  font-stretch: condensed;
  src: 
  url('/blob/fonts/vf/RobotoSerif-Italic%5BGRAD,opsz,wdth,wght%5D.woff2') format('woff2'),
  url('/blob/fonts/vf/RobotoSerif-Italic%5BGRAD,opsz,wdth,wght%5D.woff') format('woff'),
  url('/blob/fonts/vf/RobotoSerif-Italic%5BGRAD,opsz,wdth,wght%5D.ttf') format('ttf');
}
