@font-face {
  font-family: Roboto Mono;
  font-style: normal;
  font-display: swap;
  src:
  url('/blob/fonts/vf/RobotoMono%5Bwght%5D.woff2') format('woff2'),
  url('/blob/fonts/vf/RobotoMono%5Bwght%5D.woff') format('woff'),
  url('/blob/fonts/vf/RobotoMono%5Bwght%5D.ttf') format('ttf');
}

@font-face {
  font-family: Besley;
  font-style: normal;
  font-display: swap;
  src:
  url('/blob/fonts/vf/Besley%5Bwdth,wght%5D.woff2');
}

@font-face {
  font-family: Besley;
  font-style: italic;
  font-display: swap;
  src: 
  url('/blob/fonts/vf/Besley-Italic%5Bwdth,wght%5D.woff2');
}

@font-face {
    font-family: "TT2020 Style F";
    src: url("https://mfek.org/blob/fonts/TT2020StyleF-Regular-ASCII.woff2") format("woff2"),
}
