  <H1>GnuPG keys</H1>
  <H2>Fredrick R. Brennan (“Grants department”)</H2>
  <PRE>
pub   dsa3072 2022-04-21 [SC]
      98F28F767470129FBE3B054CE2154DD1A1C77B8B
uid           [ultimate] Modular Font Editor K Foundation, Inc. (Grants department) &lt;grants@mfek.org&gt;
sub   elg3072 2022-04-21 [E]
</PRE>
<PRE>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQSuBGJh4pgRDACgeatr7rqHEFCc3ahW7g+yKxNHGvoG7+fekvimYRDNX1Ys/hYl
95Je5SyyAf6X0naSLmxrwF8CSxY4dKAHb3IXTlnZn1gMK3mZ/kuA+t0oq3h+NgPT
14suB6OQKJ7NSm9hSEYn4f0Srfd0Rl6H640lipFBMsn442A3gfpoxCIuUedIAFx5
rKUyFF/+2hFJuD+XkXznNbhY1S1xF3nyac1wOXaRssjzvBpurOzYo0BF5mwAQ0X+
k5MFVDA6p44MeMnFD0+qwmBLemjLvVKa3bXFu8MvvTmEv+DZxcc13YUFHwrkILh8
qwW2Vw0G06HsUK5MeZdPbZg/pHxv73eKTA49OMUkAoogIlGkctB78ZOmrA30yCvW
AbrBTDd3Yt/mH1IGI990L7pjPGU9QdAJkNXezS081Okfd0O/b5Cc7bnHuyl2PnuT
p2NxaW+fJ2T2uXqf52Q9UsoErRBUYGiYhlB9zLONjGbeV7YIJFROv4NKscV8qb8n
LmJgKHQb/8pqWx8BAL5wmzj4tuHZuOoglscOP5D8QOnqN/Eb6BdtumGyDU6/C/94
1SWWurw8VtZkbOTu7AeBtJ7RVhSpNVeCmFkONDI1wFS/i2skGcnqCGrhN81/NPyV
LZseRPviyL4xIaTx6NEvfcbuTWw4z24BtMe+8B3hPdzVpqvpkJKj7zdiZv0LaFGO
REZmwWN5z2PSOI649/LV1LW00N+Ngwk2i9M9L1/VH2hJNAvacGXTuFdoQK8AeA4W
xyvctS6pixobP7U55koupgDIQs8DeH9nLKXEsjHOuIp+DTP+fBRAeiTSdi6SkrPw
dQWtlNu2O88NcbWzFq5K39zsVDsyvPfk4m9yV4HtwZ3Frera2grXSOAjMjFyrCmX
a6Kxd2W1XAnu62mnLB3Gh3+XFiAsDIlmSQPf71pI6BCEZODRgfLsrDOKxClABLrs
y1R5rab3z1IHGu2VWFD6WElBK2ZNAkc3GBNJ8whKM58KFxuf9796gKIeE2cik0Lk
TiAZlhKsdcXzWkxafAyx7TvS8JO8V7S7flGKz0WVfk1HA9UWt4Z/HU7zXvwcR+UL
/iFjxJ9ilMCnPPQzpu/9T9QVwgZlgq2uk4Uq0JUuX7AbZSA9zOe3sTwyu3WE8X0R
pH5/w7b60J2D10pPWGkQBk8x5GykYe1pYKZBl1RJS6C/QEmurVuGiLHwErKNl8xa
pBSpn2oh00OnYw4f/EUJeXjmcqt+P2adQ77SJZr77/WAw8TElIiZLtM2rXiMbGWe
FMzqvp5gmEeHls9zhf8gvS7Af/KRfM8Fp34k+Sxe2ldRv2KwcIPSN19jgPCOtPiZ
4Ea1EtWVMbIVIMC52BDhaSx0y6E/EDHuq1TUdbA/MQSQovoXBk3rIaimbTvTsHgj
TS6XhwC+MWhWBXpofHQ2Q56jijR2RwfKV0xUHgaBeJu3X7p1aUTF1K7KmDsQoMiV
fPSBy5b1Pe7ZDy98XZ89mKlfMwlT+72iZooBqMOCzll8kcu33f1GpRnFFT2oBf4T
ZBljpOKe6SfXmZLRu4g9EDE7lX2qabQhWE/F/O0xFHlDa0egURBTP2qWLfB6tlmO
DbRMTW9kdWxhciBGb250IEVkaXRvciBLIEZvdW5kYXRpb24sIEluYy4gKEdyYW50
cyBkZXBhcnRtZW50KSA8Z3JhbnRzQG1mZWsub3JnPoiQBBMRCAA4FiEEmPKPdnRw
Ep++OwVM4hVN0aHHe4sFAmJh4pgCGwMFCwkIBwIGFQoJCAsCBBYCAwECHgECF4AA
CgkQ4hVN0aHHe4t37AD+KpDn8MRKWcdT/e21q5bEckSwGUMXnC5lIQUYxsrXD1kA
/2oWrtcAvnAPrcKGWzcMNbRX+ISkP4K5uRBWyyDNAVBZuQMNBGJh4pgQDAD0oTyb
K09o9dzUNl+JFi3fmcU3GRVcNgCY/8z0qvVgidEx7Ksouvjxkelnwg159CHRuoic
pdiLW8VNvNJ3SVN+hZGsd+XsBWNWq/B6XViBDowDPAoTM9KrLIZaYBKFkhizJh8v
2HLdoxCK7SHG/rbRpqFJBscTU9BxOmCQGsQgyVxJSb+/rqZvRiVmxmkyBkXn5wnc
TjD8+LMlQ3fKI6fDTH4c/NtHdOEvJ03VTcMuLZQeud8ecasMNMom6lR09MPXl46h
DMxLu8lCJ7Uid7Pbo6Ptpi+hBYitnfhSi10NfRAiyB9dYe5A3nxB68DTFjwIsnlx
dBSbeEeIk8WFD+Io3UWAz20SvbWa87poUO3NxFofB8gzeexy1TtmPRg6jU7nhwL0
Qx3caqO+saRwmWRX3qOZjsZX4ceF4Fs+L7riIZ9tyuzvzf6AV+xOIySRxSj3twhQ
EJFNkYQT2szhb1Gs40u+rMMmLFrs2hzc5eh42f2KqIECsmNo6Yw8cMPRntcAAwUL
/3hZ4WbuLhLOnxLW5DlXEVtP5B7U3/zQ9xPerJOIqkr3rF+m0Waswji5PHMvwFCX
/JqkxPlnP60KYXXbwQWnF5pm6fCxi53xIqxzsQIcYwp7q5fE+pT81/Xutf7rqz2X
C68RLEIDIJLCF0cReH6mM0hxswEs8yJ+BNGjkkP67vENCs7gj8PH/ryKHme7a+kK
XJaK4w05GSKBlda+vEv/2a2z49xDYueag76AvcjUYE7hUDiNljE2Mk02t/jPJNzf
tbXkfrAfe2sYu4I5zbFsoJq0kUjk0VLnF5u0j/wa3l9lHStk9IJZCmPQ2hDHc/mo
RKBeVbeyKOMqw1n6sq0J4Za5oFycVk1LtTG0kmnwhY1W7IZdq2nXcVx84iVaO+ZI
hEjWXKj7DDq44XPStph+a6m5x0ajwuGu4g1OvnKs2HXtjWHeluITbxFBRnLFxwqC
bGVWKAx3sl5ykczR6NclCKfSoHv/qxKoq/6mlhsBtjeQCiRyUQ3a57isPkxFZDEL
a4h4BBgRCAAgFiEEmPKPdnRwEp++OwVM4hVN0aHHe4sFAmJh4pgCGwwACgkQ4hVN
0aHHe4sjCAD+ICyx2YcPEvu5Ll4a0ENFmmPJVhbr+eDgb+68+KdvX3wA/3te+bMB
Lx6wX1H30iYrtQTHgt/ysDozjueLdEhpC6GR
=8057
-----END PGP PUBLIC KEY BLOCK-----
</PRE>

<H2>Corporate Secretary</H2>
<PRE>
pub   rsa3072 2023-05-19 [SC] [expires: 2025-05-18]
      EA6E14680EEC58FFC825BDD79EBE430DA1603F64
uid           [  full  ] Jay Brandstetter &lt;jay@mfek.org&gt;
sub   rsa3072 2023-05-19 [E] [expires: 2025-05-18]
</PRE>
<PRE>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBGRnfecBDADFn32VALLnqORioKYGDpd+ADAoPkHc9J0micxahFPGqVML9Yep
+qztSYwCopR2vAmsH0iDrXV8IhN7BZSGep1Bsohw5ENi/ZRlroUt//GbzbXGEc72
QxktOxkupSDAwKoCXofuabS21JF/INimchLtmk6j1kIny3IAlkflA+yAMqTCrc6k
+MAes/lTapf1XuvCHlJBGrFBhGDV/adKkQeAfqd0hmqJLSTslT2JkAj4ywJdO5zu
9ZJd5TXKEm5Dvbv8bSvSNO9+gf1ppbLqvayJPvPrLar5phx1eHc+1jkPJYm+kV27
ErLRcHB42Yg5h83ZbspNNg0pcrhlmy1NwSIN/L0uo/C8WGQxJ2HMl9LJEWsmLXVt
DSD4qBAz/xgn47bi+et4odyJMv3j4LLl/HzU+O7QiksdxOgtFI47XBAbt6O0Ys65
ZvcRX19EvuibS1G+eUd9nJenNVKFQbF8DY8mkCQKP1+OzKyWKbz8UmBWUttzrCd7
bjwWaz4LYzACSf8AEQEAAbQfSmF5IEJyYW5kc3RldHRlciA8amF5QG1mZWsub3Jn
PokBzQQTAQgANxYhBOpuFGgO7Fj/yCW9156+Qw2hYD9kBQJkZ33oBQkDwmcAAhsD
BAsJCAcFFQgJCgsFFgIDAQAACgkQnr5DDaFgP2SBGQwAjMDgADhXcmPw0cgfekE/
nS9FQgTX+ECs98CyyjvVGU8B7c/Lcf44g/SXZd5zW3GA4im/V8p1+TLtoRIle8GY
pgn6dD/8nZn1HzK6uh1pDG8MJCDmKvOFdAVfMPikZrMlUO2WjXN95sngDwX5M0NL
b64bupuWTFxVgi+C+4ytbrucw2Zj1WHDI0UyD3NNXREaJNLf3WioVxhv9cQpX6DH
vGMiSthlY8hWSi0rbP9qNCVa74pcmtxyvNeK9Pl8wDtZLtiCBX6K35WPbmGPbymE
RpIjeF5RLLzfKu/Ell/wSqcMXJYPs+oegUjqkxlwIHjRMRUB5eP3FfSIf6G8h7aS
EQdXG/H1c6bAUBA+C0TklsHDrZghGxjhqGY/LummKfP0+XvqYYzoKAZhQmJSTGVw
Epu6U/zgKT3OFVY8PbDsEDf7JHEeeIO3R0GASzJ3nx+WwuI/D3MNGUhNX8MJ3vkH
kLschw6lKrUu1HDN5xOSXQXntS7TGnAVkwOMzRU/PoJ9iHUEEBEIAB0WIQSY8o92
dHASn747BUziFU3Rocd7iwUCZGeBOgAKCRDiFU3Rocd7iz6VAQCDuzwsYs5laQ8Z
ifGCfxcn7oP+96LJXXiSOKBydUfcIwEAorQ2Nba5/98hLWDl0DQtWoVlCV7yyMUy
aB0//Ym6JdO5AY0EZGd96AEMALkRExh8PTDdZ7N47sJh0mXEyCZlqlI48mCeBcBs
AJs9RcXgz5iYcr8areoE2uOVvoHDA9uLB6ICxuYXuV/le57jSG6FrZqk27OZNToS
ScQWxhB3zjR9Wrh0wIjc388LDqnKplTh+bd3fLJFGj7PF1PDI+l2/BZE9NNUJwBT
Rb0SyDVf1NOor7/XCAHmCT81ZEZadDrbvFQhKPfkxHqFLWKFX1pUJsB9zXgzIQoU
VKDtc4r6GYag36ko3qnRqsjV6jYx0CdKSjLP/HjE1cmI5lsklvqYdiP5PmC/s/3W
NCMgPG3w/TRDgtALaVhX4Wc5Zk4TPa1mvqDIngMTrHdMrzNlGnYTC+K3OY5WIsKd
fhNtezLaRRZt9Dv1okSVFr8mBcQjad5BwzxHa4OL9ADIIcYQBnxUBU8yJmUbaHpy
HEGy6cdxt8+GgmNa/N7nUyTnlPIPP97pGjRmHiO+RINHiqwNYuQ4hUq+GMdouDsP
SxK7i5GOgWKBZbWZqaHhpinj7QARAQABiQG8BBgBCAAmFiEE6m4UaA7sWP/IJb3X
nr5DDaFgP2QFAmRnfeoFCQPCZwACGwwACgkQnr5DDaFgP2Q7GwwAkVR1+3tqA6FT
QP9+EL8+l+jHPYpW+3Tov4loF5+MpXEgJzNskAA9zJq4uOmQfeUXnWDczeAQ875x
7b/EcfnllW9g3EXXjc3ybQvWEe3jLKt4+D9Lv4SwySSxpRfjWjyVzrHy+beNmToG
B87c6xyhJkmzU+sDlgQE7/PCGkjBnkAKipbOkr36/MImXzRLysJQwLGTJd+Z02K9
zdq2mdtRAlsri1kuEtduaIpX//tW148rKJCYwbfBo5Zbcs39TafM9wGpXDug0VBO
rkau5ipPtQnd/qwvMS8dXpKf2GGrkBc9MmGXdbZv6Ljl6GCk0FLzJ0CSKpZZMekf
O/quxlY5fBl7Zj9s+HkVGSkD+mG2PytcvyDk6+363gWzAosB6a5hocusksy8znR+
X4hLQYghCRRJWSpYDyGWvqclA68oX9H9otntqkML4k5p0UPwWfroIAogNxFssfWt
dxNdweBzLN6riA3KuNqP+VcFTJzfYLLbjkJX9ijmOvyWjx/2wUZj
=TxFa
-----END PGP PUBLIC KEY BLOCK-----
</PRE>
